body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.dashboard_container {
  background-color: #f5faf8;
  margin-left: 250px;
  min-height: 100%;
}

.dashboard_header_title {
  font-size: 24px;
  background-color: #ced2d9;
  color: #667084;
  padding-top: 22px;
  padding-bottom: 20px;
  padding-left: 90px;
}

h1,
h2,
h3 {
  color: #667084;
}

.team-card {
  max-height: 300px;
  margin: 30px 30px;
}

.tip {
  padding: 5px;
  font-style: italic;
  color: #a5adbd;
}

.detail_tableHeader {
  margin-top: 15px;
}

.dashboard_realtime_title_container {
  padding: 5px;
  margin: 20px;
}

.cardHeaderShadowStyles {
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.24),
    0 4px 24px -2px rgba(0, 0, 0, 0.2);
  align-items: center;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.template-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto 20px;
}

.card-style {
  border-radius: 12;
  min-width: 300px;
  max-width: 300px;
  margin: 35px 0;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}

.icon {
  color: #7abf92;
  font-size: 25px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 10px;
}

.iconStore {
  color: #7abf92;
  font-size: 25px;
  margin-top: 20px;
  margin-right: 14px;
  margin-left: 10px;
}

.client-name {
  color: #464e5d;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  text-align: end;
  text-transform: capitalize;
  padding-right: 10px;
}

.template-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.control-form {
  width: 400px;
  margin-right: 30px;
}

.card-RealTime {
  width: 90%;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  border-radius: spacing(0.5);
  transition: 0.3s;
  overflow: initial;
  background: #ffffff;
}

.table-RealTime {
  max-width: 300px;
}

.content-RealTime {
  padding-top: 10px;
  text-align: left;
  overflow-x: auto;
}

.reservation-card {
  width: 300px;
  margin: 20px;
}

.div-reservation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reservation-card-detail {
  width: 380px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.reservation-day {
  text-align: center;
  color: #70C598;
  padding: 15px;
}

.numberClient-booking {
  display: contents;
  width: 35%;
  font-size: 100px;
  color: #70C598;
  font-weight: 600;
  text-align: center;
}

.icon-booking {
  width: 20px;
}

.div-nbGuest {
  margin: 10px;
  padding: 10px;
}

.number {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  color: #464e5d;

}

.booking-detail-modal {
  background-color: #F5FAF8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



.div-content-booking {
  text-align: center;
}